  .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .icon-search {
    padding-top: 5px;
    width: 40px;
    height: 29px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    font-size: 20px;
  }
  
  .wrap{
    width: 30%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .articles-container{
    margin-bottom: 150px;
  }

  .articles-list{
      margin: 50px 100px 0 180px !important;
      position: absolute;
  }
  
  .button-8{
    color: cadetblue;
    border-color: lightgray !important;
    background-color: white !important;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 5px 5px 5px 5px;
    display: flex;
    margin-bottom: 20px;
    font-size: 15px;
  }
  
  .button-8:hover{
    color: black;
    -webkit-box-shadow: 0px 0px 5px #00B4CC;
    box-shadow: 0px 0px 5px #00B4CC;
  }
  