.nav{
    background: lightblue;
    height: 70px;
}
.nav-home{
    color: white;
    padding: 20px 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 20px;
}
.nav-link{
    text-decoration: none;
}